.menu-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffcb0e;
}

.layout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 50;
}
